  body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    form {
        background-color: grey;
        color: black;
    }
    
    #input {
        color:black;
        
    }
    
    .input {
        color:black;
    }