
header {
    color: white;
    font-family: 'Arial';
}
 
    
    body {
      
        background-image: url("https://images5.alphacoders.com/445/445906.jpg");
        
        
    }
    
    #main {
        
        font-family: 'Arial';
        width:900px;
        height:500px;
        position:relative;
        margin:0 auto;
    }
    
   
h1 {
    color: white;
    text-align: center;
}

 
    
 